<div class="document">
  <div class="document-header">
    <h1>Rapid Damage Assessment Form</h1>
  </div>
  <!-- inspection -->
  <div class="document-section"></div>
  <!-- building description -->
  <div class="document-section">
    <div class="section-group">
      <div class="section-item">
        <h2>Building Descrption</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sunt voluptatum necessitatibus perferendis, sapiente voluptas ducimus, reiciendis quam officiis perspiciatis, placeat at ex molestiae? Quaerat, assumenda, nihil, reiciendis similique iste sint cumque neque magni exercitationem temporibus sunt ullam. Earum, voluptatibus autem aut vero modi eaque ex ea porro repudiandae sint numquam deleniti minima architecto illum quas facilis. Impedit dolorem exercitationem, fugiat, possimus expedita sint reprehenderit quidem debitis harum omnis nostrum veniam aspernatur molestias soluta laudantium aperiam! Suscipit facere saepe voluptatem, laborum quidem officiis tenetur ab veritatis, dolor aperiam natus quas modi dolorem quos, eligendi perspiciatis possimus neque rerum perferendis? Commodi, sapiente?</p>
      </div>
      <div class="section-item">
        test 2
      </div>
    </div>
  </div>
  <!-- evaluation -->
  <div class="document-section">

  </div>
  <!-- posting -->
  <div class="document-section">

  </div>
  <!-- further actions -->
  <div class="document-secion">

  </div>
  <!-- attachments -->
  <div class="document-section">
    
  </div>
  <p>Viewing {{this.id}}</p>  
</div>