.document {
  margin: 0.25rem;
}
.section-item, .section-group, .document-header, .document-section {
  display: flex;
  flex-direction: column;
  h2 {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 0.1rem;
  }
}
.document-header, .document-section {
  border-radius: 0.75rem;
  border-style: solid;
  border-color: #000;
  border-width: 2px;
  margin-bottom: 0.1rem;
}
.document-section {
  padding: 0.5rem 1rem;
  .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 0.25rem;
    .item {
      flex-grow: 1;
      display: flex;
      margin-right: 1rem;
      vertical-align: middle;
      div {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        flex-grow: 1;
      }
      .value {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 0.25rem;
        font-weight: bold;
        border-bottom: #000 1px solid;
        text-align: center;
        flex-grow: 1;
      }
    }
  }
  // if mobile and is viewed on screen
  @media screen and (max-width: 767px) {
    .row {
      flex-direction: column;
      .item {
        margin-right: 0;
        margin-bottom: 0.5rem;
        .value {
          text-align: left;
        }
      }
    }
    
  }
}
.document-header {
  width: auto;
  border-radius: 0.75rem;
  background-color: #000;
  print-color-adjust: exact;
  padding: 0.25rem;
  h1 {
    text-align: center;
    font-weight: bold;
    vertical-align: middle;
    color: #FFF;
    margin: 0;
  }
}