<div class="main-content">
  <div class="table-control">
    <div class="table-control-end">
      <span>Showing {{ displayedItems }} of {{ totalItems }} item(s)</span>
    </div>
    <div class="table-control-center">
      <span>Page {{ currentPage }} / {{ pageCount }}</span>
    </div>
    <div class="table-control-end" style="justify-content: flex-end">
      <div class="action-group">
        <button
          [disabled]="currentPage <= 1 || accountsData == undefined"
          (click)="navFirstPage()"
        >
          |&lt;
        </button>
        <button
          [disabled]="currentPage <= 1 || accountsData == undefined"
          (click)="navPrevPage()"
        >
          &lt;
        </button>
        <button
          [disabled]="currentPage >= pageCount || accountsData == undefined"
          (click)="navNextPage()"
        >
          &gt;
        </button>
        <button
          [disabled]="currentPage >= pageCount || accountsData == undefined"
          (click)="navLastPage()"
        >
          &gt;|
        </button>
      </div>
    </div>
  </div>
  <div class="separator-container">
    <div class="separator"></div>
  </div>
  <div *ngIf="accountsData != undefined; else loader" class="content-container">
    <table>
      <thead>
        <tr>
          <th>Account Name</th>
          <th>Email</th>
          <th>Location</th>
          <th>Max Access Level</th>
          <th>Created At</th>
          <th>Is Locked</th>
          <th>Last Locked</th>
          <th class="td-center">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let account of accountsData">
          <!-- <td class="td-center">
            <span class="log-level level-{{ account.level }}">{{
              account.level
            }}</span>
          </td> -->
          <td>{{ account.name }}</td>
          <td>{{ account.email }}</td>
          <td>{{ account.location }}</td>
          <td class="td-center">{{ account.isLocked }}</td>
          <td>{{ account.lastLocked }}</td>
          <td class="td-center item-action">
            <button
              (click)="editAccount(account.id)"
              title="Edit report in another tab"
            >
              <img src="assets/svg/edit.svg" alt="Edit" />
            </button>
            <button
              (click)="unlockAccount(account.id)"
              title="Unlock account login restrictions"
            >
              <img src="assets/svg/edit.svg" alt="Edit" />
            </button>
            <button (click)="deleteAccount(account.id)" title="Delete Report">
              <img src="assets/svg/delete.svg" alt="Delete" />
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <ng-template #loader>
    <div class="loading-container">
      <div class="loading">
        <img src="assets/svg/refresh.svg" alt="" />
        <span>Loading...</span>
      </div>
    </div>
  </ng-template>
</div>
