<div class="panel-container">
  <div class="main-content">
    <div class="content-header">
      <span>Logs</span>
    </div>
    <div class="separator-container">
      <div class="separator"></div>
    </div>
    <div class="table-control">
      <div class="table-control-end">
        <span>Showing {{ displayedItems }} of {{ totalItems }} item(s)</span>
      </div>
      <div class="table-control-center">
        <span>Page {{ currentPage }} / {{ pageCount }}</span>
      </div>
      <div class="table-control-end" style="justify-content: flex-end">
        <div class="action-group">
          <button
            [disabled]="currentPage <= 1 || logsData == undefined"
            (click)="navFirstPage()"
          >
            |&lt;
          </button>
          <button
            [disabled]="currentPage <= 1 || logsData == undefined"
            (click)="navPrevPage()"
          >
            &lt;
          </button>
          <button
            [disabled]="currentPage >= pageCount || logsData == undefined"
            (click)="navNextPage()"
          >
            &gt;
          </button>
          <button
            [disabled]="currentPage >= pageCount || logsData == undefined"
            (click)="navLastPage()"
          >
            &gt;|
          </button>
        </div>
      </div>
    </div>
    <div class="separator-container">
      <div class="separator"></div>
    </div>
    <div *ngIf="logsData != undefined; else loader" class="content-container">
      <table>
        <thead>
          <tr>
            <th class="td-center">Level</th>
            <th>Date & Time</th>
            <th>Source IP</th>
            <th>Action</th>
            <th>Message</th>
            <th>User ID</th>
            <th>Session ID</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let log of logsData">
            <td class="td-center">
              <span class="log-level level-{{ log.level }}">{{
                log.level
              }}</span>
            </td>
            <td>{{ log.dateTime.toLocaleString() }}</td>
            <td>{{ log.sourceIp }}</td>
            <td>{{ log.action }}</td>
            <td>{{ log.message }}</td>
            <td>{{ log.userId }}</td>
            <td>{{ log.sessionId }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <ng-template #loader>
      <div class="loading-container">
        <div class="loading">
          <img src="assets/svg/refresh.svg" alt="" />
          <span>Loading...</span>
        </div>
      </div>
    </ng-template>
  </div>
</div>
