.panel-container {
  background-color: #fefefe;
  width: 100%;
  height: 100%;
  max-height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  .menu-column {
    width: 30%;
    min-width: 10rem;
    max-width: 15rem;
    border-right: 1px solid #cbcbcb;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    .item-list {
      flex: 1;
      overflow-y: auto;
      overflow-x: hidden;
    }
    // background-color: blue;
  }
  .main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    // background-color: yellow;
  }
}
.list-header,
.content-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  // border-bottom: 1px solid #f0f0f0;
  span {
    font-size: 1.25rem;
    font-weight: 500;
    color: #333;
    margin-left: 0.5rem;
  }
  button {
    margin-right: 0.5rem;
    height: 100%;
    background-color: #d40000;
    border-radius: 5px;
    border: none;
    color: #fefefe;
    box-shadow: 0 0 0.5rem 0.1rem rgba(0, 0, 0, 0.2);
    img {
      height: 100%;
      aspect-ratio: 1 / 1;
    }
    &:hover {
      background-color: #b20100;
    }
    &:disabled {
      background-color: #f0f0f0;
      color: #333;
      img {
        filter: invert(1);
      }
    }
  }
}
.content-action-group {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  span {
    font-size: 0.55rem;
    font-weight: 500;
    color: rgb(90, 90, 90);
    margin-right: 0.5rem;
  }
  button {
    margin-right: 0.5rem;
    height: 100%;
    background-color: #d40000;
    border-radius: 5px;
    border: none;
    color: #fefefe;
    box-shadow: 0 0 0.5rem 0.1rem rgba(0, 0, 0, 0.2);
    img {
      height: 100%;
      aspect-ratio: 1 / 1;
    }
    &:hover {
      background-color: #b20100;
    }
    &:disabled {
      background-color: #f0f0f0;
      color: #333;
      img {
        filter: invert(1);
      }
    }
  }
}
.separator-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  .separator {
    width: calc(100% - 0.5rem);
    height: 1px;
    background-color: #f0f0f0;
  }
}

.table-control {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  min-height: 2.5rem;
  .table-control-end {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    min-width: 15%;
  }
}
.content-container {
  flex: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  table {
    flex: 0;
    width: 100%;
    max-height: calc(100% - 2.5rem);
    border-collapse: collapse;
    overflow-y: auto;
    tr {
      th {
        font-size: 0.75rem;
        font-weight: 500;
        color: #333;
        padding: 0.5rem;
        text-align: left;
        background-color: #fefefe;
      }
      td {
        font-size: 0.75rem;
        font-weight: 400;
        color: #333;
        padding: 0.5rem;
        text-align: left;
      }
      .td-center {
        text-align: center;
      }
      border-bottom: 1px solid #f0f0f0;
    }
    tbody {
      tr:nth-child(odd) {
        background-color: #f0f0f0;
      }
      tr {
        flex: 0;
        cursor: default;
        td {
          padding: 0.2rem;
          padding-left: 0.5rem;
          padding-right: 0.5rem;
          flex: 0;
        }
        &:hover {
          background-color: #ffd6d6;
        }
      }
    }
  }
}

.loading-container {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  .loading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img {
      height: 2rem;
      aspect-ratio: 1 / 1;
      margin-right: 0.5rem;
      // negative
      filter: invert(1);
      // spin
      animation: spin 1s linear infinite;
    }
    span: {
      margin-top: 0.5rem;
    }
  }
}

.item-action {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0;
  button {
    transition: background-color 0.1s ease-in-out;
    background-color: #cd3333;
    border: none;
    border-radius: 5px;
    padding: 0.1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // shadow
    box-shadow: 0 0 0.5rem 0.1rem rgba(0, 0, 0, 0.2);
    img {
      height: 1rem;
      aspect-ratio: 1 / 1;
    }
    &:hover {
      background-color: rgb(222, 77, 77);
    }
    &:disabled {
      background-color: #f0f0f0;
      color: #333;
      img {
        filter: invert(1);
      }
    }
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
