<!-- if reportData is null then hide -->
<div
  *ngIf="reportData && inspectorData && attachmentUrls && error == ''"
  class="print-controls {{ saved && !saving ? 'saved-controls' : '' }}"
>
  <div class="options">
    <h2>
      {{
        saved && !saving
          ? "Report Saved!"
          : saving
          ? "Saving Report..."
          : "Editing Report"
      }}
    </h2>
  </div>
  <div class="actions">
    <button [disabled]="saved" (click)="revertChanges()">Revert Changes</button>
    <button [disabled]="saved" (click)="saveChanges()">Save Changes</button>
  </div>
</div>
<div
  *ngIf="
    reportData && inspectorData && attachmentUrls && error == '';
    else loading
  "
  class="document"
>
  <div class="document-header">
    <h1>Rapid Damage Assessment Form</h1>
  </div>
  <!-- inspection -->
  <div class="document-section" id="inspection-group">
    <h2>Inspection</h2>
    <div class="row">
      <span class="item"
        >Inspector:
        <span class="value"
          >{{ inspectorData!.firstName }} {{ inspectorData!.lastName }}</span
        ></span
      >
      <span class="item"
        >Inspection Date:
        <span class="value">{{
          formatDateToShortDateString(reportData!.inspectedDateTime)
        }}</span></span
      >
      <span class="item"
        >Time:
        <span class="value">{{
          formatDateTo24TimeString(reportData!.inspectedDateTime)
        }}</span></span
      >
    </div>
    <div class="row">
      <span class="item"
        >Agency/Campus: <span class="value">Alangilan</span></span
      >
      <span class="item"
        >Areas inspected:
        <div>
          <span>
            <input
              type="checkbox"
              name="e"
              id="e"
              disabled
              [checked]="reportData!.areasInspected == 'exterior'"
            />
            <label for="e">Exterior Only</label>
          </span>
          <span>
            <input
              type="checkbox"
              name="i"
              id="i"
              disabled
              [checked]="reportData!.areasInspected == 'exterior&interior'"
            />
            <label for="i">Exterior & Interior</label>
          </span>
        </div>
      </span>
    </div>
  </div>
  <!-- building description -->
  <div class="document-section" id="description-group">
    <div id="block-container">
      <div id="left-block">
        <h2>Building Description</h2>
        <div class="row">
          <span class="item"
            >Building Name:
            <span class="value">{{ buildingData?.name }}</span></span
          >
        </div>
        <div class="row">
          <span class="item"
            >Address:
            <p class="value">
              <span id="u1">
                <span id="u2">
                  {{ buildingData?.address }}
                </span>
              </span>
            </p>
          </span>
        </div>
        <div class="row">
          <div class="item">
            Building Marshal:
            <span class="value">
              {{ buildingData?.buildingMarshal }}
            </span>
          </div>
        </div>
        <div class="row">
          <div class="item">
            Number of story above ground:
            <span class="value">
              {{ buildingData?.storyAboveGround }}
            </span>
          </div>
          <div class="item">
            below ground:
            <span class="value">
              {{ buildingData?.storyBelowGround }}
            </span>
          </div>
        </div>
      </div>
      <div id="right-block">
        <div class="check-type-container">
          <h2>Type of Construction</h2>
          <div class="checklist-container two-split">
            <div class="checksplit-container">
              <div class="item">
                <div>
                  <input
                    type="checkbox"
                    name="i"
                    id="i"
                    disabled
                    [checked]="buildingData?.typeOfConstruction == 'wood'"
                  />
                  <label for="i">Wood Frame</label>
                </div>
              </div>
              <div class="item">
                <div>
                  <input
                    type="checkbox"
                    name="i"
                    id="i"
                    disabled
                    [checked]="buildingData?.typeOfConstruction == 'steel'"
                  />
                  <label for="i">Steel Frame</label>
                </div>
              </div>
              <div class="item">
                <div>
                  <input
                    type="checkbox"
                    name="i"
                    id="i"
                    disabled
                    [checked]="buildingData?.typeOfConstruction == 'concrete'"
                  />
                  <label for="i">Concrete Frame</label>
                </div>
              </div>
            </div>
            <div class="checksplit-container">
              <div class="item">
                <div>
                  <input
                    type="checkbox"
                    name="i"
                    id="i"
                    disabled
                    [checked]="buildingData?.typeOfConstruction == 'masonry'"
                  />
                  <label for="i">Masonry</label>
                </div>
              </div>
              <div class="item">
                <div>
                  <input
                    type="checkbox"
                    name="i"
                    id="i"
                    disabled
                    [checked]="
                      isOtherConstructionType(buildingData?.typeOfConstruction)
                    "
                  />
                  <label for="i"
                    >Other:
                    <p class="value">
                      <span id="u1">
                        <span id="u2">
                          {{
                            isOtherConstructionType(
                              buildingData?.typeOfConstruction
                            )
                              ? buildingData?.typeOfConstruction
                              : "-n/a-"
                          }}
                        </span>
                      </span>
                    </p>
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="check-type-container">
          <h2>Primary Occupancy</h2>
          <div class="checklist-container three-split">
            <div class="checksplit-container">
              <div class="item">
                <div>
                  <input
                    type="checkbox"
                    name="i"
                    id="i"
                    disabled
                    [checked]="buildingData?.primaryOccupancy == 'singleFamily'"
                  />
                  <label for="i">Single Family</label>
                </div>
              </div>
              <div class="item">
                <div>
                  <input
                    type="checkbox"
                    name="i"
                    id="i"
                    disabled
                    [checked]="
                      buildingData?.primaryOccupancy == 'multiResidential'
                    "
                  />
                  <label for="i">Multi-residential</label>
                </div>
              </div>
              <div class="item">
                <div>
                  <input
                    type="checkbox"
                    name="i"
                    id="i"
                    disabled
                    [checked]="
                      buildingData?.primaryOccupancy == 'emergencyServices'
                    "
                  />
                  <label for="i">Emergency Services</label>
                </div>
              </div>
            </div>
            <div class="checksplit-container">
              <div class="item">
                <div>
                  <input
                    type="checkbox"
                    name="i"
                    id="i"
                    disabled
                    [checked]="buildingData?.primaryOccupancy == 'industrial'"
                  />
                  <label for="i">Industrial</label>
                </div>
              </div>
              <div class="item">
                <div>
                  <input
                    type="checkbox"
                    name="i"
                    id="i"
                    disabled
                    [checked]="buildingData?.primaryOccupancy == 'offices'"
                  />
                  <label for="i">Offices</label>
                </div>
              </div>
              <div class="item">
                <div>
                  <input
                    type="checkbox"
                    name="i"
                    id="i"
                    disabled
                    [checked]="buildingData?.primaryOccupancy == 'commercial'"
                  />
                  <label for="i">Commercial</label>
                </div>
              </div>
            </div>
            <div class="checksplit-container">
              <div class="item">
                <div>
                  <input
                    type="checkbox"
                    name="i"
                    id="i"
                    disabled
                    [checked]="buildingData?.primaryOccupancy == 'school'"
                  />
                  <label for="i">School</label>
                </div>
              </div>
              <div class="item">
                <div>
                  <input
                    type="checkbox"
                    name="i"
                    id="i"
                    disabled
                    [checked]="buildingData?.primaryOccupancy == 'government'"
                  />
                  <label for="i">Government</label>
                </div>
              </div>
              <div class="item">
                <div>
                  <input
                    type="checkbox"
                    name="i"
                    id="i"
                    disabled
                    [checked]="
                      isOtherOccupancyType(buildingData?.primaryOccupancy)
                    "
                  />
                  <label for="i"
                    >Other:
                    <p class="value">
                      <span id="u1">
                        <span id="u2">
                          {{
                            isOtherOccupancyType(buildingData?.primaryOccupancy)
                              ? buildingData?.primaryOccupancy
                              : "-n/a-"
                          }}
                        </span>
                      </span>
                    </p>
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- evaluation -->
  <div class="document-section" id="evaluation-group">
    <h2>Evaluation</h2>
    <span
      >Investigate the building and area around it for the conditions below and
      check the appropriate column.</span
    >
    <div class="data">
      <div class="conditions">
        <div class="row header-row">
          <span>Observed Conditions:</span>
          <span>Minor/None</span>
          <span>Moderate</span>
          <span>Severe</span>
        </div>
        <!-- observation row -->
        <div class="row">
          <span>Collapsed Structure<span></span></span>
          <div>
            <input
              type="radio"
              name="collapsedStructure"
              [disabled]="saved"
              [(ngModel)]="collapsedStructure"
              [ngModelOptions]="{ standalone: true }"
              [value]="0"
              [checked]="collapsedStructure == 0"
            />
          </div>
          <div>
            <input
              type="radio"
              name="collapsedStructure"
              [disabled]="saved"
              [(ngModel)]="collapsedStructure"
              [ngModelOptions]="{ standalone: true }"
              [value]="1"
              [checked]="collapsedStructure == 1"
            />
          </div>
          <div>
            <input
              type="radio"
              name="collapsedStructure"
              [disabled]="saved"
              [(ngModel)]="collapsedStructure"
              [ngModelOptions]="{ standalone: true }"
              [value]="2"
              [checked]="collapsedStructure == 2"
            />
          </div>
        </div>
        <div class="row">
          <span>Building or story leaning / out of plumb<span></span></span>
          <div>
            <input
              type="radio"
              name="leaningOrOutOfPlumb"
              [disabled]="saved"
              [(ngModel)]="leaningOrOutOfPlumb"
              [ngModelOptions]="{ standalone: true }"
              [value]="0"
              [checked]="leaningOrOutOfPlumb == 0"
            />
          </div>
          <div>
            <input
              type="radio"
              name="leaningOrOutOfPlumb"
              [disabled]="saved"
              [(ngModel)]="leaningOrOutOfPlumb"
              [ngModelOptions]="{ standalone: true }"
              [value]="1"
              [checked]="leaningOrOutOfPlumb == 1"
            />
          </div>
          <div>
            <input
              type="radio"
              name="leaningOrOutOfPlumb"
              [disabled]="saved"
              [(ngModel)]="leaningOrOutOfPlumb"
              [ngModelOptions]="{ standalone: true }"
              [value]="2"
              [checked]="leaningOrOutOfPlumb == 2"
            />
          </div>
        </div>
        <div class="row">
          <span
            >Damage to primary structural members, racking of walls<span></span
          ></span>
          <div>
            <input
              type="radio"
              name="damageToPrimaryStructure"
              [disabled]="saved"
              [(ngModel)]="damageToPrimaryStructure"
              [ngModelOptions]="{ standalone: true }"
              [value]="0"
              [checked]="damageToPrimaryStructure == 0"
            />
          </div>
          <div>
            <input
              type="radio"
              name="damageToPrimaryStructure"
              [disabled]="saved"
              [(ngModel)]="damageToPrimaryStructure"
              [ngModelOptions]="{ standalone: true }"
              [value]="1"
              [checked]="damageToPrimaryStructure == 1"
            />
          </div>
          <div>
            <input
              type="radio"
              name="damageToPrimaryStructure"
              [disabled]="saved"
              [(ngModel)]="damageToPrimaryStructure"
              [ngModelOptions]="{ standalone: true }"
              [value]="2"
              [checked]="damageToPrimaryStructure == 2"
            />
          </div>
        </div>
        <div class="row">
          <span>Falling hazards such<span></span></span>
          <div>
            <input
              type="radio"
              name="fallingHazards"
              [disabled]="saved"
              [(ngModel)]="fallingHazards"
              [ngModelOptions]="{ standalone: true }"
              [value]="0"
              [checked]="fallingHazards == 0"
            />
          </div>
          <div>
            <input
              type="radio"
              name="fallingHazards"
              [disabled]="saved"
              [(ngModel)]="fallingHazards"
              [ngModelOptions]="{ standalone: true }"
              [value]="1"
              [checked]="fallingHazards == 1"
            />
          </div>
          <div>
            <input
              type="radio"
              name="fallingHazards"
              [disabled]="saved"
              [(ngModel)]="fallingHazards"
              [ngModelOptions]="{ standalone: true }"
              [value]="2"
              [checked]="fallingHazards == 2"
            />
          </div>
        </div>
        <div class="row">
          <span>Ground movement or slope<span></span></span>
          <div>
            <input
              type="radio"
              name="groundMovementOrSlope"
              [disabled]="saved"
              [(ngModel)]="groundMovementOrSlope"
              [ngModelOptions]="{ standalone: true }"
              [value]="0"
              [checked]="groundMovementOrSlope == 0"
            />
          </div>
          <div>
            <input
              type="radio"
              name="groundMovementOrSlope"
              [disabled]="saved"
              [(ngModel)]="groundMovementOrSlope"
              [ngModelOptions]="{ standalone: true }"
              [value]="1"
              [checked]="groundMovementOrSlope == 1"
            />
          </div>
          <div>
            <input
              type="radio"
              name="groundMovementOrSlope"
              [disabled]="saved"
              [(ngModel)]="groundMovementOrSlope"
              [ngModelOptions]="{ standalone: true }"
              [value]="2"
              [checked]="groundMovementOrSlope == 2"
            />
          </div>
        </div>
        <div class="row">
          <span>Damaged / submerged fixtures or services<span></span></span>
          <div>
            <input
              type="radio"
              name="damagedSubmergedFixtures"
              [disabled]="saved"
              [(ngModel)]="damagedSubmergedFixtures"
              [ngModelOptions]="{ standalone: true }"
              [value]="0"
              [checked]="damagedSubmergedFixtures == 0"
            />
          </div>
          <div>
            <input
              type="radio"
              name="damagedSubmergedFixtures"
              [disabled]="saved"
              [(ngModel)]="damagedSubmergedFixtures"
              [ngModelOptions]="{ standalone: true }"
              [value]="1"
              [checked]="damagedSubmergedFixtures == 1"
            />
          </div>
          <div>
            <input
              type="radio"
              name="damagedSubmergedFixtures"
              [disabled]="saved"
              [(ngModel)]="damagedSubmergedFixtures"
              [ngModelOptions]="{ standalone: true }"
              [value]="2"
              [checked]="damagedSubmergedFixtures == 2"
            />
          </div>
        </div>
        <div class="row">
          <span
            >Proximity risks / other (specify):<input
              type="text"
              name="proximityRiskTitle"
              [disabled]="saved"
              [(ngModel)]="proximityRiskTitle"
              [ngModelOptions]="{ standalone: true }"
          /></span>
          <div>
            <input
              type="radio"
              name="proximityRisk"
              [disabled]="saved"
              [(ngModel)]="proximityRisk"
              [ngModelOptions]="{ standalone: true }"
              [value]="0"
              [checked]="proximityRisk == 0"
            />
          </div>
          <div>
            <input
              type="radio"
              name="proximityRisk"
              [disabled]="saved"
              [(ngModel)]="proximityRisk"
              [ngModelOptions]="{ standalone: true }"
              [value]="1"
              [checked]="proximityRisk == 1"
            />
          </div>
          <div>
            <input
              type="radio"
              name="proximityRisk"
              [disabled]="saved"
              [(ngModel)]="proximityRisk"
              [ngModelOptions]="{ standalone: true }"
              [value]="2"
              [checked]="proximityRisk == 2"
            />
          </div>
        </div>
      </div>
      <div class="estimate">
        <h2>Estimated Building Damage</h2>
        <h3>(excluding contents)</h3>
        <div class="values">
          <div>
            <input
              type="radio"
              name="estimatedBuildingDamage"
              [disabled]="saved"
              [(ngModel)]="estimatedBuildingDamage"
              [ngModelOptions]="{ standalone: true }"
              [value]="0"
              [checked]="estimatedBuildingDamage == 0"
            />
            <span>None</span>
          </div>
          <div>
            <input
              type="radio"
              name="estimatedBuildingDamage"
              [disabled]="saved"
              [(ngModel)]="estimatedBuildingDamage"
              [ngModelOptions]="{ standalone: true }"
              [value]="1"
              [checked]="estimatedBuildingDamage == 1"
            />
            <span>1 - 10%</span>
          </div>
          <div>
            <input
              type="radio"
              name="estimatedBuildingDamage"
              [disabled]="saved"
              [(ngModel)]="estimatedBuildingDamage"
              [ngModelOptions]="{ standalone: true }"
              [value]="2"
              [checked]="estimatedBuildingDamage == 2"
            />
            <span>11 - 30%</span>
          </div>
          <div>
            <input
              type="radio"
              name="estimatedBuildingDamage"
              [disabled]="saved"
              [(ngModel)]="estimatedBuildingDamage"
              [ngModelOptions]="{ standalone: true }"
              [value]="3"
              [checked]="estimatedBuildingDamage == 3"
            />
            <span>31 - 60%</span>
          </div>
          <div>
            <input
              type="radio"
              name="estimatedBuildingDamage"
              [disabled]="saved"
              [(ngModel)]="estimatedBuildingDamage"
              [ngModelOptions]="{ standalone: true }"
              [value]="4"
              [checked]="estimatedBuildingDamage == 4"
            />
            <span>61 - 99%</span>
          </div>
          <div>
            <input
              type="radio"
              name="estimatedBuildingDamage"
              [disabled]="saved"
              [(ngModel)]="estimatedBuildingDamage"
              [ngModelOptions]="{ standalone: true }"
              [value]="5"
              [checked]="estimatedBuildingDamage == 5"
            />
            <span>100%</span>
          </div>
        </div>
      </div>
      <div class="comments">
        <span>Comments:</span>
        <textarea
          [disabled]="saved"
          [(ngModel)]="evaluationComment"
          [ngModelOptions]="{ standalone: true }"
          name="evaluationComment"
          id="evaluationComment"
        ></textarea>
        <!-- <input
          type="text"
          name="evaluationComment"
          [disabled]="saved"
          [(ngModel)]="evaluationComment"
          [ngModelOptions]="{ standalone: true }"
        /> -->
      </div>
    </div>
  </div>
  <!-- posting -->
  <div class="document-section" id="posting-group">
    <h2>Posting</h2>
    <span>
      Severe conditions endangering the overall building are grounds for an
      Unsafe posting. Localised Severe and overall Moderate conditions may allow
      a Restricted Use posting. Where required, ensure that RESTRICTED USE and
      UNSAFE placards are posted at all entrances.
    </span>
    <div class="row">
      <div class="item">
        <div>
          <span>
            <input
              type="checkbox"
              name="inspectedPlacard"
              id="inspectedPlacard"
              [disabled]="saved"
              [(ngModel)]="inspectedPlacard"
              [ngModelOptions]="{ standalone: true }"
              [checked]="inspectedPlacard"
            />
            <label for="inspected">INSPECTED (Green placard)</label>
          </span>
        </div>
      </div>
      <div class="item">
        <div>
          <span>
            <input
              type="checkbox"
              name="restrictedPlacard"
              id="restrictedPlacard"
              [disabled]="saved"
              [(ngModel)]="restrictedPlacard"
              [ngModelOptions]="{ standalone: true }"
              [checked]="restrictedPlacard"
            />
            <label for="restricted">RESTRICTED USE (Yellow placard)</label>
          </span>
        </div>
      </div>
      <div class="item">
        <div>
          <span>
            <input
              type="checkbox"
              name="unsafePlacard"
              id="unsafePlacard"
              [disabled]="saved"
              [(ngModel)]="unsafePlacard"
              [ngModelOptions]="{ standalone: true }"
              [checked]="unsafePlacard"
            />
            <label for="unsafe">UNSAFE (Red placard)</label>
          </span>
        </div>
      </div>
    </div>
    <span>
      Record any use and entry restrictions exactly as written on placard:
    </span>
    <div class="row">
      <div class="item">
        <div class="checkbox-container">
          <input
            type="checkbox"
            name="doNotEnter"
            id="doNotEnter"
            [disabled]="saved"
            [(ngModel)]="doNotEnter"
            [ngModelOptions]="{ standalone: true }"
            [checked]="doNotEnter"
          />
        </div>
        <label for="doNotEnter"
          >Do not enter or use the following areas:
        </label>
        <input
          type="text"
          name="doNotEnterText"
          [disabled]="saved || !doNotEnter"
          [(ngModel)]="doNotEnterText"
          [ngModelOptions]="{ standalone: true }"
        />
      </div>
    </div>
    <div class="row">
      <div class="item">
        <div class="checkbox-container">
          <input
            type="checkbox"
            name="briefEntryAllowed"
            id="briefEntryAllowed"
            [disabled]="saved"
            [(ngModel)]="briefEntryAllowed"
            [ngModelOptions]="{ standalone: true }"
            [checked]="briefEntryAllowed"
          />
        </div>
        <label for="briefEntryAllowed"
          >Brief entry allowed for access to contents:
        </label>
        <input
          type="text"
          name="briefEntryAllowedText"
          [disabled]="saved || !briefEntryAllowed"
          [(ngModel)]="briefEntryAllowedText"
          [ngModelOptions]="{ standalone: true }"
        />
      </div>
    </div>
    <div class="row">
      <div class="item">
        <div class="checkbox-container">
          <input
            type="checkbox"
            name="doNotUse"
            id="doNotUse"
            [disabled]="saved"
            [(ngModel)]="doNotUse"
            [ngModelOptions]="{ standalone: true }"
            [checked]="doNotUse"
          />
        </div>
        <label for="doNotUse"
          >Do not use flooded/damaged appliances, devices or services (electric,
          gas) until specified by a licensed contractor
        </label>
      </div>
    </div>
    <div class="row">
      <div class="item">
        <div class="checkbox-container">
          <input
            type="checkbox"
            name="otherRestrictions"
            id="otherRestrictions"
            [disabled]="saved"
            [(ngModel)]="otherRestrictions"
            [ngModelOptions]="{ standalone: true }"
            [checked]="otherRestrictions"
          />
        </div>
        <label for="otherRestrictions">Other restrictions: </label>
        <input
          type="text"
          name="otherRestrictionsText"
          [disabled]="saved || !otherRestrictions"
          [(ngModel)]="otherRestrictionsText"
          [ngModelOptions]="{ standalone: true }"
        />
      </div>
    </div>
  </div>
  <!-- further actions -->
  <div class="document-section" id="further-group">
    <h2>Further Actions</h2>
    <span>Check the boxes below only if further actions are needed.</span>
    <div class="row">
      <div class="item">
        <div class="checkbox-container">
          <input
            type="checkbox"
            name="barricadeComment"
            id="barricadeComment"
            [disabled]="saved"
            [(ngModel)]="barricadeComment"
            [ngModelOptions]="{ standalone: true }"
            [checked]="barricadeComment"
          />
        </div>
        <label for="barricadeComment"
          >Barricades needed in the following areas:
        </label>
        <input
          type="text"
          name="barricadeCommentText"
          [disabled]="saved || !barricadeComment"
          [(ngModel)]="barricadeCommentText"
          [ngModelOptions]="{ standalone: true }"
        />
      </div>
    </div>
    <div class="row">
      <div class="item">
        <div class="checkbox-container">
          <input
            type="checkbox"
            name="detailedEvaluation"
            id="detailedEvaluation"
            [disabled]="saved"
            [(ngModel)]="detailedEvaluation"
            [ngModelOptions]="{ standalone: true }"
            [checked]="detailedEvaluation"
          />
        </div>
        <label for="detailedEvaluation">Detailed Evaluation recommended </label>
        <div class="other-items">
          <div class="sub-item">
            <div class="checkbox-container">
              <input
                type="checkbox"
                name="detailedEvaluationAreas1"
                id="detailedEvaluationAreas1"
                [disabled]="saved || !detailedEvaluation"
                [(ngModel)]="detailedEvaluationAreas1"
                [ngModelOptions]="{ standalone: true }"
                [checked]="detailedEvaluationAreas1"
              />
            </div>
            <label for="structural">Structural</label>
          </div>
          <div class="sub-item">
            <div class="checkbox-container">
              <input
                type="checkbox"
                name="detailedEvaluationAreas2"
                id="detailedEvaluationAreas2"
                [disabled]="saved || !detailedEvaluation"
                [(ngModel)]="detailedEvaluationAreas2"
                [ngModelOptions]="{ standalone: true }"
                [checked]="detailedEvaluationAreas2"
              />
            </div>
            <label for="geotechnical">Geotechnical</label>
          </div>
          <div class="sub-item">
            <div class="checkbox-container">
              <input
                type="checkbox"
                name="detailedEvaluationAreas3"
                id="detailedEvaluationAreas3"
                [disabled]="saved || !detailedEvaluation"
                [(ngModel)]="detailedEvaluationAreas3"
                [ngModelOptions]="{ standalone: true }"
                [checked]="detailedEvaluationAreas3"
              />
            </div>
            <label for="other">Other</label>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="item">
        <div class="checkbox-container">
          <input
            type="checkbox"
            name="otherRecommendations"
            id="otherRecommendations"
            [disabled]="saved"
            [(ngModel)]="otherRecommendations"
            [ngModelOptions]="{ standalone: true }"
            [checked]="otherRecommendations"
          />
        </div>
        <label for="otherRecommendations">Other recommendations:</label>
        <input
          type="text"
          name="otherRecommendationsText"
          [disabled]="saved || !otherRecommendations"
          [(ngModel)]="otherRecommendationsText"
          [ngModelOptions]="{ standalone: true }"
        />
      </div>
    </div>
    <div class="row">
      <div class="item">
        <span>Comments: </span>

        <textarea
          [disabled]="saved"
          [(ngModel)]="furtherComments"
          [ngModelOptions]="{ standalone: true }"
          name="furtherComments"
          id="furtherComments"
        ></textarea>
        <!-- <input
          type="text"
          name="furtherComments"
          [disabled]="saved"
          [(ngModel)]="furtherComments"
          [ngModelOptions]="{ standalone: true }"
        /> -->
      </div>
    </div>
  </div>
  <!-- attachments -->
  <div class="document-section hide-on-print" id="attachments-group">
    <h2>Attachments</h2>
    <div *ngIf="attachmentUrls.length > 0; else noAttachments">
      <attachment
        *ngFor="let attachment of attachmentUrls"
        class="{{
          attachment.type != 'image' ? 'non-image hide-on-print' : ''
        }}"
        [type]="attachment.type"
        [url]="attachment.url"
        [thumbnail]="attachment.thumbnail"
      ></attachment>
      <!-- <div
        class="attachment-container"
        *ngFor="let attachment of attachmentUrls"
      >
        <img *ngIf="attachment.type" [src]="attachment.url" alt="" />
        <video
          *ngIf="attachment.type == 'video'"
          [src]="attachment.url"
          controls
        ></video>
      </div> -->
    </div>
  </div>
</div>

<ng-template #loading>
  <div *ngIf="error.length == 0" class="loading">
    <img src="assets/svg/refresh.svg" alt="" />
    <h2>Loading...</h2>
    <h3>{{ currentLoading }}</h3>
  </div>
  <div *ngIf="error.length > 0" class="error">
    <img src="assets/svg/error.svg" alt="" />
    <h2>An error occurred while loading the report. Please try again later.</h2>
    <h3>{{ error }}</h3>
  </div>
</ng-template>
<ng-template #noAttachments> No Attachments. </ng-template>
