* {
  --navbar-height: 3rem;
  --sidemenu-width: 15rem;
}
.main {
  display: grid;
  grid-template-rows: var(--navbar-height) 1fr;
  grid-template-columns: 1fr;
  width: 100vw;
  height: calc(100vh - var(--navbar-height));
  dashboard-navbar {
    grid-row: 1;
    grid-column: 1;
    width: 100%;
    z-index: 2;
  }
  dashboard-sidemenu {
    position: absolute;
    top: var(--navbar-height);
    left: 0;
    height: calc(100% - var(--navbar-height));
    width: var(--sidemenu-width);
    background-color: #8e2d2d;
    transition: transform 0.3s ease-in-out;
    z-index: 1;
  }
  .content {
    grid-row: 2;
    grid-column: 1;
    height: calc(100vh - var(--navbar-height));
  }
  @media (max-width: 425px) {
    dashboard-sidemenu {
      width: 100%;
    }
  }
}
.shown {
  transform: translateX(0);
  // shadow on the right side of the sidemenu
  box-shadow: 0 0 0.5rem 0.25rem #4040402d;
}
.hidden {
  transform: translateX(-150%);
  // no shadow
  box-shadow: none;
}
@media (max-width: 425px) {
  .shown {
    transform: translateY(0);
    // shadow on the bottom side of the sidemenu
    box-shadow: 0 0 0.5rem 0.25rem #40404066;
  }
  .hidden {
    transform: translateY(calc(-150% - var(--navbar-height)));
  }
}
