/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap");
// html,
// body {
//   height: 100%;
// }
body {
  margin: 0;
  //   font-family: "Source Sans Pro", sans-serif;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

button {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.grecaptcha-badge {
  visibility: hidden;
}
.hidden {
  display: none !important;
}
.marker-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.map-tooltip {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  .status {
    width: 2rem;
  }

  .status-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding-right: 0.25rem;
    padding-left: 0.25rem;
    .status {
      margin: 0;
      padding: 0;
      display: inline;
      width: 0.75rem;
      height: 0.75rem;
      border-radius: 50%;
      border: 1px solid #000;
      // shadow
      // box-shadow: 0 0.125rem 0.25rem 0 rgba(0, 0, 0, 0.485);
    }
    img {
      margin: 0;
      padding: 0;
      width: 1rem;
      height: 1rem;
    }
    .status-text {
      flex: 1;
      width: auto;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      text-align: left;
      font-size: 0.875rem;
      font-weight: 500;
      color: #000000;
    }
    .ok {
      background-color: #00c853;
    }
    .minor {
      background-color: #ffea00;
    }
    .moderate {
      background-color: #ff9100;
    }
    .severe {
      background-color: #d50000;
    }
  }
}
