<div class="panel-container">
  <!-- <div class="menu-column">
    <div class="list-header">
      <span>Locations</span>
    </div>
    <div class="separator-container">
      <div class="separator"></div>
    </div>
    <div class="item-list">
      <div class="items" *ngIf="locations != undefined; else loadingLocations">
        <button
          class="{{ selectedCampus == undefined ? 'selected' : '' }}"
          (click)="onLocationClick(undefined)"
        >
          <img src="assets/svg/globe.svg" />
          <span>Location Map</span>
        </button>
        <button
          *ngFor="let location of locations"
          class="{{ selectedCampus == location.locationId ? 'selected' : '' }}"
          (click)="onLocationClick(location.locationId)"
        >
          <img src="assets/svg/building.svg" />
          <span>{{ location.locationName }}</span>
          <div class="status-container" [ngSwitch]="location.status">
            <div class="status ok" *ngSwitchCase="0"></div>
            <div class="status minor" *ngSwitchCase="1"></div>
            <div class="status moderate" *ngSwitchCase="2"></div>
            <div class="status severe" *ngSwitchCase="3"></div>
            <img src="assets/svg/missing.svg" *ngSwitchDefault />
          </div>
        </button>
      </div>
      <ng-template #loadingLocations>
        <div class="loading-container">
          <div class="loading">
            <span>Loading...</span>
          </div>
        </div>
      </ng-template>
    </div>
  </div> -->
  <div class="main-content">
    <div class="content-header">
      <span>Accounts</span>
      <!-- <div class="content-action-group" *ngIf="selectedCampus != undefined">
        <span>{{
          locationData != undefined
            ? "Last Updated: " + locationData.lastUpdated
            : "Updating..."
        }}</span>
        <button
          (click)="updateLocation(locationData?.locationId)"
          [disabled]="locations === undefined || locationData === undefined"
        >
          <img
            src="assets/svg/refresh.svg"
            [class]="
              locations === undefined || locationData === undefined
                ? 'spinning'
                : ''
            "
          />
        </button>
      </div> -->
    </div>
    <div class="separator-container">
      <div class="separator"></div>
    </div>
    <div class="content-container">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
