.panel-container {
  background-color: #fefefe;
  width: 100%;
  height: 100%;
  max-height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  .menu-column {
    width: 30%;
    min-width: 10rem;
    max-width: 15rem;
    border-right: 1px solid #cbcbcb;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    // background-color: blue;
  }
  .main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    // background-color: yellow;
  }
}
.list-header,
.content-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  // border-bottom: 1px solid #f0f0f0;
  span {
    font-size: 1.25rem;
    font-weight: 500;
    color: #333;
    margin-left: 0.5rem;
  }
  button {
    margin-right: 0.5rem;
    height: 100%;
    background-color: #d40000;
    border-radius: 5px;
    border: none;
    color: #fefefe;
    box-shadow: 0 0 0.5rem 0.1rem rgba(0, 0, 0, 0.2);
    img {
      height: 100%;
      aspect-ratio: 1 / 1;
    }
    &:hover {
      background-color: #b20100;
    }
    &:disabled {
      background-color: #f0f0f0;
      color: #333;
      img {
        filter: invert(1);
      }
    }
  }
}
.content-action-group {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  span {
    font-size: 0.55rem;
    font-weight: 500;
    color: rgb(90, 90, 90);
    margin-right: 0.5rem;
  }
  button {
    margin-right: 0.5rem;
    height: 100%;
    background-color: #d40000;
    border-radius: 5px;
    border: none;
    color: #fefefe;
    box-shadow: 0 0 0.5rem 0.1rem rgba(0, 0, 0, 0.2);
    img {
      height: 100%;
      aspect-ratio: 1 / 1;
    }
    &:hover {
      background-color: #b20100;
    }
    &:disabled {
      background-color: #f0f0f0;
      color: #333;
      img {
        filter: invert(1);
      }
    }
  }
}
.separator-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  .separator {
    width: calc(100% - 0.5rem);
    height: 1px;
    background-color: #f0f0f0;
  }
}

.content-container {
  flex: 1;
  overflow-y: auto;
}

.loading-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .loading {
    display: flex;
    flex-direction: row;
  }
}

.spinning {
  animation: spin 1s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.item-list {
  flex: 1;
  overflow-y: auto;
  background: none;
  .items {
    overflow-y: auto;
    button {
      width: 100%;
      height: 2.5rem;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      border: none;
      background: none;
      transition: background-color 0.1s ease-in-out;
      span {
        text-align: left;
        flex: 1;
      }
      img {
        padding-left: 0.5rem;
        width: 1rem;
        height: 1rem;
        margin-right: 0.75rem;
      }
      &:hover {
        background-color: #ffefef;
      }
      &:active {
        background-color: rgb(245, 233, 233);
      }
      .status {
        width: 2rem;
      }

      .status-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        padding-right: 0.25rem;
        padding-left: 0.25rem;
        .status {
          margin: 0;
          padding: 0;
          display: inline;
          width: 0.75rem;
          height: 0.75rem;
          border-radius: 50%;
          border: 1px solid #000;
          // shadow
          // box-shadow: 0 0.125rem 0.25rem 0 rgba(0, 0, 0, 0.485);
        }
        img {
          margin: 0;
          padding: 0;
          width: 1rem;
          height: 1rem;
        }
        .status-text {
          flex: 1;
          width: auto;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          text-align: left;
          font-size: 0.875rem;
          font-weight: 500;
          color: #000000;
        }
        .ok {
          background-color: #00c853;
        }
        .minor {
          background-color: #ffea00;
        }
        .moderate {
          background-color: #ff9100;
        }
        .severe {
          background-color: #d50000;
        }
      }
    }
    .selected {
      background-color: #ffd7d7;
      &:hover {
        background-color: #ffd7d7;
      }
    }
  }
}

.no-campus {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
  .no-campus-icon {
    width: 2rem;
    height: 2rem;
    margin-bottom: 0.25rem;
  }
  .no-campus-text {
    font-size: 1rem;
    color: #444;
  }
}
