<div class="panel-container">
  <div class="menu-column">
    <div class="list-header">
      <span>Dashboard</span>
      <button (click)="updateLocations()" [disabled]="locations === undefined">
        <img
          src="assets/svg/refresh.svg"
          [class]="locations === undefined ? 'spinning' : ''"
        />
      </button>
    </div>
    <div class="separator-container">
      <div class="separator"></div>
    </div>
    <div class="item-list">
      <div class="items" *ngIf="locations != undefined; else loadingLocations">
        <button
          class="{{ selectedCampus == undefined ? 'selected' : '' }}"
          (click)="onLocationClick(undefined)"
        >
          <img src="assets/svg/globe.svg" />
          <span>Location Map</span>
        </button>
        <button
          *ngFor="let location of locations"
          class="{{ selectedCampus == location.locationId ? 'selected' : '' }}"
          (click)="onLocationClick(location.locationId)"
        >
          <img src="assets/svg/building.svg" />
          <span>{{ location.locationName }}</span>
          <div class="status-container" [ngSwitch]="location.status">
            <div class="status ok" *ngSwitchCase="0"></div>
            <div class="status minor" *ngSwitchCase="1"></div>
            <div class="status moderate" *ngSwitchCase="2"></div>
            <div class="status severe" *ngSwitchCase="3"></div>
            <img src="assets/svg/missing.svg" *ngSwitchDefault />
          </div>
        </button>
      </div>
      <ng-template #loadingLocations>
        <div class="loading-container">
          <div class="loading">
            <span>Loading...</span>
          </div>
        </div>
      </ng-template>
    </div>
  </div>
  <div class="main-content">
    <div class="content-header">
      <span>{{ contentTitle ?? "Location Map" }}</span>
      <div class="content-action-group" *ngIf="selectedCampus != undefined">
        <span>{{
          locationData != undefined
            ? "Last Updated: " + locationData.lastUpdated
            : "Updating..."
        }}</span>
        <button
          (click)="updateLocation(locationData?.locationId)"
          [disabled]="locations === undefined || locationData === undefined"
        >
          <img
            src="assets/svg/refresh.svg"
            [class]="
              locations === undefined || locationData === undefined
                ? 'spinning'
                : ''
            "
          />
        </button>
      </div>
    </div>
    <div class="separator-container">
      <div class="separator"></div>
    </div>
    <div
      class="content-container"
      *ngIf="selectedCampus != undefined; else noCampus"
    >
      <div
        *ngIf="locationData?.buildings != undefined; else loadCards"
        class="card-container"
      >
        <div class="card" style="flex-basis: 100% !important">
          <div class="card-title">
            <div class="card-title-header">
              <img src="assets/svg/statistics.svg" />
              <span>Statistics</span>
            </div>
          </div>
          <div class="card-divider"></div>
          <div class="card-content">
            <div class="card-content-item">
              <div class="card-content-item-title">Total Max Capacity</div>
              <div class="card-content-item-value">
                {{ locationData?.maxCapacity ?? "n/a" }}
              </div>
            </div>
            <div class="card-content-item">
              <div class="card-content-item-title">Total Reports</div>
              <div class="card-content-item-value">
                {{ locationData?.reports ?? 0 }}
              </div>
            </div>
            <div class="card-content-item">
              <div class="card-content-item-title">Total Buildings</div>
              <div class="card-content-item-value">
                {{ locationData?.buildings?.length ?? "0" }}
              </div>
            </div>
            <div class="card-content-item">
              <div class="card-content-item-title">Accounts Registered</div>
              <div class="card-content-item-value">
                {{ locationData?.accounts ?? 0 }}
              </div>
            </div>
          </div>
        </div>
        <div
          class="card building-card"
          *ngFor="let building of locationData?.buildings"
        >
          <div class="card-title">
            <div class="card-title-header">
              <img src="assets/svg/building.svg" />
              <span>{{ building.buildingName }}</span>
            </div>
            <div class="card-title-action">
              <button
                [class]="building.lastIncidentId == undefined ? 'hidden' : ''"
                (click)="onShowReport(building.lastIncidentId ?? '')"
                [title]="generateTooltip(building.lastInspection)"
              >
                <img src="assets/svg/view.svg" />
              </button>
              <button (click)="onEditBuilding(building.buildingId)">
                <img src="assets/svg/edit.svg" />
              </button>
              <button (click)="onDeleteBuilding(building.buildingId)">
                <img src="assets/svg/delete.svg" />
              </button>
            </div>
          </div>
          <div class="card-divider"></div>
          <div class="card-content">
            <div class="card-content-item">
              <div class="card-content-item-title">Max Capacity</div>
              <div class="card-content-item-value">
                {{ building.maxCapacity }}
              </div>
            </div>
            <div class="card-content-item">
              <div class="card-content-item-title">Reports</div>
              <div class="card-content-item-value">{{ building.reports }}</div>
            </div>
            <div class="card-content-item" [ngSwitch]="building.status">
              <div class="card-content-item-title">Status</div>
              <div class="card-content-item-value">
                <div class="ok" *ngSwitchCase="0">OK</div>
                <div class="minor" *ngSwitchCase="1">Minor</div>
                <div class="moderate" *ngSwitchCase="2">Moderate</div>
                <div class="severe" *ngSwitchCase="3">Severe</div>
                <img
                  class="missing"
                  src="assets/svg/missing.svg"
                  *ngSwitchDefault
                />
              </div>
            </div>
          </div>
        </div>
        <div
          class="card building-card new-card"
          (click)="onAddBuilding(selectedCampus)"
        >
          <div class="card-content">
            <div class="card-content-item">
              <img src="assets/svg/new.svg" alt="+" style="filter: invert()" />
              <span>New Building</span>
            </div>
          </div>
        </div>
      </div>
      <ng-template #loadCards>
        <div class="loading-container">
          <div class="loading">
            <span>Loading...</span>
          </div>
        </div>
      </ng-template>
    </div>
    <ng-template #noCampus>
      <div class="no-campus content-container">
        <div
          #leafletMap
          leaflet
          [leafletOptions]="leafletOptions"
          (leafletMapReady)="onMapReady($event)"
          style="height: 100%; width: 100%"
        ></div>
        <!-- <img
          src="assets/svg/missing.svg"
          alt="Missing"
          class="no-campus-icon"
        />
        <div class="no-campus-text">
          <span>Map not yet implemented</span>
        </div> -->
      </div>
    </ng-template>
  </div>
</div>
