.panel-container {
  background-color: #b20100;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  * {
    height: 100%;
  }
  .menu-column {
    width: 30%;
    min-width: 10rem;
    max-width: 15rem;
    background-color: blue;
  }
  .main-content {
    flex: 1;
    background-color: yellow;
  }
}
